<script>
    var page = {
        'id': {{page.id}},
    };

</script>
<style>
#right_nav {
  position:fixed;
  right: 0;
  vertical-align: middle;
  float:right;
}

#left_nav {
  position:fixed;
  left: 0;
  vertical-align: middle;
  float:left;
}
.btn-transparent {
  background-color: transparent;
}

.btn-huge{
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
}
</style>
<div id="right_nav"><button type="button" class="btn-huge  btn btn-transparent glyphicon glyphicon-circle-arrow-right"></button></div>
<div id="left_nav"><button type="button" class="btn-huge btn glyphicon glyphicon-circle-arrow-left btn-transparent"></button></div>
<h1>{{ page.title }}</h1>
{% if not page.feature_image is none %}
<img class="img-responsive img-rounded center-block" src="/static/upload/{{ page.feature_image.path }}"/>
{% elif not page.feature_image_external_url is none %}
<img class="img-responsive img-rounded center-block" src="{{ page.feature_image_external_url }}"/>
{% endif %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
<p class="text-justify">{{ page.excerpt| safe }}</p>

{% if not global_vars.ADSENSE_INAPP_ARTICLE_CODE is none %}
    {{ global_vars.ADSENSE_INAPP_ARTICLE_CODE|safe }}
{% endif %}
<p class="text-justify">
    {{ page.content| safe }}
</p>
            <hr/>
            <h4>Komentar</h4>
            {% if page.comments|length == 0 %}
            <p>Belum ada komentar, silahkan gan. Kesempatan pertamax! <span class="fa fa-smile"></span></p>
            <p id="list-comment">
                {% else %}
            {% for c in page.comments|reverse %}
            <p><a href="#">{{ c.user.username }}</a> {{ c.comment }}</p>
            {% endfor %}
            </p>
            {% endif %}
            <p id="new-comment"></p>
        </div>
    </div>

