<script>
    var page = {
        'id': {{page.id}},
    };

</script>
<h1>{{ page.title }}</h1>
<img class="img-responsive img-rounded center-block" src="/static/upload/{{ page.feature_image.path }}"/>
    <div class="row">
        <div class="col-xs-12 col-md-8">
<p class="text-justify">{{ page.excerpt| safe }}</p>

{% if not global_vars.ADSENSE_INAPP_ARTICLE_CODE is none %}
    {{ global_vars.ADSENSE_INAPP_ARTICLE_CODE|safe }}
{% endif %}
<p class="text-justify">
    {{ page.content| safe }}
</p>
            <hr/>
            <h4>Komentar</h4>
            <p id="list-comment">
            {% for c in page.comments|reverse %}
            <p><a href="#">{{ c.user.email|safe_email }}</a> {{ c.comment }}</p>
            {% endfor %}
            </p>
            <p id="new-comment"></p>
        </div>
    </div>