{% extends "security/base-security.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field_with_errors_2, render_field %}
{% include "security/_messages.html" %}
{% block body %}
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="well">
                          <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                            {{ login_user_form.hidden_tag() }}
                              <div class="form-group">
                                  <!--<label for="email" class="control-label">Username</label>-->
                                  <!--<input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">-->
                                  {{ render_field_with_errors(login_user_form.email, class_="form-control") }}
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <!--<label for="password" class="control-label">Password</label>-->
                                  <!--<input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">-->
                                {{ render_field_with_errors(login_user_form.password, class_="form-control") }}
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
                              <div class="checkbox">
                                  <label>
                                    {{ render_field_with_errors_2(login_user_form.remember, label="Remember login") }}

                                  </label>
                                  <p class="help-block">(if this is a private computer)</p>
                                {{ render_field(login_user_form.next) }}
                              </div>
                            {{ render_field(login_user_form.submit, class_ ="btn btn-success btn-block") }}
                              <!--<a href="/forgot/" class="btn btn-default btn-block">Help to login</a>-->
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}